= turbo_frame_tag(dom_id seat) do
  = button_to seat_path(seat), method: :patch, disabled: !seat.free?, form: { data: { action: 'turbo:submit-end->seat#selectSeat' } }, class: 'tooltip' do
    .seat{ class: seat.status, data: { id: seat.id, price: seat.price } }
    %span.tooltip-text= number_to_currency(seat.price, unit: '€', precision: 2)
