= turbo_stream_from :seats

%div{ data: { controller: 'seat' } }
  %table#seats
    %tbody
      - seat_grid = Array.new(@seats[:maxY]) { Array.new(@seats[:maxX]) }
      - @seats[:all].each do |seat|
        - seat_grid[seat.positionY][seat.positionX] = seat
      - seat_grid.each do |row|
        %tr
          - row.each do |seat|
            %td
              - if seat
                = render seat

  .sidebar
    %h2 Buy Tickets

    %div
      %span#total-seats{ data: { seat: { target: 'quantity' } } }
      %span selected seats
    #total
      %span Total:
      %span#total-amount{ data: { seat: { target: 'price' } } }
    = button_to 'Buy', update_multiple_seats_path, method: :post, form: { data: { action: 'turbo:submit-end->seat#clearTotals' } }
